.final-for-content-7 .path-27 {
  background: #707070;
  margin-bottom: 336px;
  align-self: flex-start;
  width: 1px;
  height: 0px;
}
.final-for-content-7 .image-3 {
  background: url('../assets/images/image3.png') 50% / cover no-repeat;
  width: 171px;
  height: 65px;
}
.final-for-content-7 .container-2 {
  background: #D9D9D9;
  position: relative;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 5px 16px 4px;
  width: 180px;
  height: 97px;
  box-sizing: border-box;
}
.final-for-content-7 .rectangle-167 {
  opacity: 0.5;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.161);
  background: linear-gradient(90deg, #000000, rgba(9, 9, 9, 0.89), rgba(0, 0, 0, 0.49), rgba(84, 84, 84, 0));
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1920px;
  height: 917px;
}
.final-for-content-7 .hosting-partnername-here {
  position: relative;
  margin-bottom: 6.8px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 52.8px;
  line-height: 1.327;
  color: #FFFFFF;
}
.hosting-partnername-here-sub6 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 52.8px;
  line-height: 1.333;
  text-transform: capitalize;
}
.hosting-partnername-here {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 52.8px;
  line-height: 1.333;
}
.final-for-content-7 .we-are-ev-friendly {
  position: relative;
  margin: 0 32.6px 7px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  line-height: 1.452;
  color: #24E200;
}
.we-are-ev-friendly-sub6 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 42px;
  line-height: 1.333;
  color: #D6D6D6;
}
.we-are-ev-friendly {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  line-height: 1.333;
}
.final-for-content-7 .path-121 {
  background: #24E200;
  position: relative;
  margin-right: 7px;
  width: 437.5px;
  height: 3px;
}
.final-for-content-7 .landing-page-image {
  background: url('../assets/images/valeriiaBugaiovaPphgeHz1UkUnsplash.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 498px 0 214.1px 0;
  width: 1920px;
  box-sizing: border-box;
}
.final-for-content-7 .path-181 {
  width: 14.4px;
  height: 25.3px;
}
.final-for-content-7 .layer-24 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 14.4px;
  height: 25.3px;
  box-sizing: border-box;
}
.final-for-content-7 .group-403 {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.341);
  backdrop-filter: blur(1.5px);
  border-radius: 27.5px;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 62.1px 40px 0;
  padding: 14.6px 18.8px 15.1px 18.8px;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
}
.final-for-content-7 .icons-q-2 {
  width: 71.1px;
  height: 71.1px;
}
.final-for-content-7 .layer-21 {
  margin: 0 1.1px 9.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 71.1px;
  height: 71.1px;
  box-sizing: border-box;
}
.final-for-content-7 .charger-installedimages {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #4D4D4D;
}
.final-for-content-7 .container-21 {
  margin-top: 105.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.final-for-content-7 .container-1 {
  border: 1px solid #707070;
  background: #FFFFFF;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  padding: 105.1px 0 98px 0;
  width: 625px;
  box-sizing: border-box;
}
.final-for-content-7 .icons-q-21 {
  width: 71.1px;
  height: 71.1px;
}
.final-for-content-7 .layer-22 {
  margin: 0 7.1px 22.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 71.1px;
  height: 71.1px;
  box-sizing: border-box;
}
.final-for-content-7 .charger-installedimages-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #4D4D4D;
}
.final-for-content-7 .container-5 {
  border: 1px solid #707070;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 653px;
}
.final-for-content-7 .icons-q-22 {
  width: 71.1px;
  height: 71.1px;
}
.final-for-content-7 .layer-23 {
  margin: 0 1.1px 15.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 71.1px;
  height: 71.1px;
  box-sizing: border-box;
}
.final-for-content-7 .charger-installedimages-2 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #4D4D4D;
}
.final-for-content-7 .container-4 {
  margin: 99.1px 61.7px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.final-for-content-7 .path-18 {
  width: 14.4px;
  height: 25.3px;
}
.final-for-content-7 .layer-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 14.4px;
  height: 25.3px;
  box-sizing: border-box;
}
.final-for-content-7 .group-133 {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.341);
  backdrop-filter: blur(1.5px);
  border-radius: 27.5px;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 14.6px 18.8px 15.1px 18.8px;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
}
.final-for-content-7 .container-22 {
  border: 1px solid #707070;
  background: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 642px;
  height: 336px;
}
.final-for-content-7 .gallary-image {
  position: relative;
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  width: 1920px;
  box-sizing: border-box;
}
.final-for-content-7 .monolith-ac-level-2-ev-charger {
  margin-bottom: 75.7px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.monolith-ac-level-2-ev-charger-sub4 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 56px;
  line-height: 1.333;
  text-transform: uppercase;
}
.final-for-content-7 .group-399 {
  width: 64.4px;
  height: 87.8px;
}
.final-for-content-7 .ccs-type-2 {
  position: relative;
  margin: 5.9px 0 7.9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}
.final-for-content-7 .container-18 {
  margin: 0 13.7px 68.7px 13.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 276.7px;
  box-sizing: border-box;
}
.final-for-content-7 .kw {
  margin: 0 5.5px 5.6px 6.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 19px;
  line-height: 1.474;
  color: #000000;
}
.final-for-content-7 .group-401 {
  width: 80px;
  height: 67.4px;
}
.final-for-content-7 .container-12 {
  margin-right: 95.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.final-for-content-7 .power-output {
  position: relative;
  margin: 19px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}
.final-for-content-7 .container-11 {
  margin: 0 17.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .rectangle-225 {
  border-radius: 17px;
  border: 1px solid #707070;
  position: absolute;
  left: 28px;
  bottom: 256.4px;
  width: 383px;
  height: 136px;
}
.final-for-content-7 .rectangle-226 {
  border-radius: 17px;
  border: 1px solid #707070;
  position: absolute;
  left: 28px;
  bottom: 86.8px;
  width: 383px;
  height: 136px;
}
.final-for-content-7 .monolith-discription {
  background: url('../assets/images/level2ChargerSunfuel.png') 50% / cover no-repeat;
  position: relative;
  margin: 0 148px 99.2px 148px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 238px 0 110.8px 35px;
  width: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .compatible-with-all-plug-in-vehicle-brands {
  margin: 0 0 65.8px 1.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 31px;
  line-height: 1.452;
  color: #000000;
}
.final-for-content-7 .mg-motor-logo-2021-present {
  background: url('../assets/images/mgMotorLogo2021Present.png');
  margin-right: 35.5px;
  width: 100.5px;
  height: 56.6px;
}
.final-for-content-7 .group-414 {
  opacity: 0.78;
  margin: 7.1px 0 7.8px 0;
  width: 81.3px;
  height: 41.7px;
}
.final-for-content-7 .container-14 {
  margin-top: 0.6px;
  display: flex;
  flex-direction: row;
  width: 217.4px;
  height: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .path-1040 {
  opacity: 0.78;
  margin: 1.3px 0 1.4px 0;
  width: 54.5px;
  height: 54.5px;
}
.final-for-content-7 .group-419 {
  opacity: 0.78;
  margin: 1.7px 0 4.7px 0;
  width: 74.6px;
  height: 50.8px;
}
.final-for-content-7 .group-407 {
  opacity: 0.78;
  margin: 3.2px 0 0.2px 0;
  width: 53.7px;
  height: 53.7px;
}
.final-for-content-7 .group-410 {
  opacity: 0.78;
  margin: 2.1px 0 1.4px 0;
  width: 53.7px;
  height: 53.7px;
}
.final-for-content-7 .group-409 {
  opacity: 0.78;
  margin: 16.8px 0 13.7px 0;
  width: 75.3px;
  height: 26.7px;
}
.final-for-content-7 .path-976 {
  margin: 0 9.3px 4.7px 11px;
  width: 65.3px;
  height: 33.2px;
}
.final-for-content-7 .path-981 {
  margin-right: 0.6px;
  width: 12.1px;
  height: 12.6px;
}
.final-for-content-7 .path-982 {
  margin: 0px 0.3px 0px 0;
  width: 14px;
  height: 12.5px;
}
.final-for-content-7 .path-979 {
  margin: 0px 1.5px 0px 0;
  width: 12.3px;
  height: 12.5px;
}
.final-for-content-7 .path-980 {
  margin: 0px 1.6px 0px 0;
  width: 12.3px;
  height: 12.5px;
}
.final-for-content-7 .path-977 {
  margin: 0.1px 1.7px 0px 0;
  width: 12.2px;
  height: 12.5px;
}
.final-for-content-7 .path-978 {
  margin: 0px 1.7px 0px 0;
  width: 12px;
  height: 12.5px;
}
.final-for-content-7 .path-983 {
  margin: 0px 0;
  width: 3.5px;
  height: 12.6px;
}
.final-for-content-7 .container-7 {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  width: 85.6px;
  box-sizing: border-box;
}
.final-for-content-7 .group-406 {
  opacity: 0.78;
  margin-bottom: 6.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85.6px;
  height: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .container-24 {
  margin-bottom: 51.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1028px;
  box-sizing: border-box;
}
.final-for-content-7 .tata-motors-logo-5508201279-seeklogo-com {
  background: url('../assets/images/tataMotorsLogo5508201279SeeklogoCom.png');
  margin: 4.5px 63.4px 3.7px 0;
  width: 64.6px;
  height: 56.6px;
}
.final-for-content-7 .land-rover-logo-black-svg {
  background: url('../assets/images/landRoverLogoBlackSvg.png');
  margin: 7.5px 53px 0.8px 0;
  width: 107.2px;
  height: 56.5px;
}
.final-for-content-7 .volvo-iron-mark-black-svg {
  background: url('../assets/images/volvoIronMarkBlackSvg.png');
  margin: 1.4px 58px 0px 0;
  width: 63.4px;
  height: 63.4px;
}
.final-for-content-7 .path-1069 {
  margin: 0 4.2px 10.6px 0;
  width: 57.8px;
  height: 26.6px;
}
.final-for-content-7 .path-1070 {
  margin-bottom: 0px;
  width: 102.6px;
  height: 13.5px;
}
.final-for-content-7 .mahindra-mahindra-logo {
  opacity: 0.78;
  margin: 4.5px 20.2px 9.6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 102.6px;
  height: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .mini-logo {
  background: url('../assets/images/miniLogo.png');
  width: 115.2px;
  height: 64.8px;
}
.final-for-content-7 .container-20 {
  margin-left: 13.6px;
  display: flex;
  flex-direction: row;
  width: 647.6px;
  box-sizing: border-box;
}
.final-for-content-7 .vehicle-brands {
  margin: 0 0 118.9px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1028px;
  box-sizing: border-box;
}
.final-for-content-7 .step-to-operate-charger {
  margin: 0 800.7px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  line-height: 1.806;
  color: #FFFFFF;
}
.final-for-content-7 .step-1 {
  margin-bottom: 19px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.final-for-content-7 .plug-the-nozzle {
  margin-bottom: 26px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 55px;
  color: #F7BD19;
}
.final-for-content-7 .unlock-the-charging-gun-by-pressing-the-button-on-ithold-and-plug-the-charging-gun-into-the-charging-port-of-your-car {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
}
.final-for-content-7 .container-15 {
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.129);
  border-radius: 23px;
  background: #17171C;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px 0 95px 47px;
  box-sizing: border-box;
}
.final-for-content-7 .sunfuel-charger {
  background: url('../assets/images/sunfuelCharger.png') 50% / cover no-repeat;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 411px;
  height: 411px;
}
.final-for-content-7 .step-1-instruction {
  position: relative;
  margin: 0 0 27px 1px;
  padding: 56px 7px 8px 0;
  box-sizing: border-box;
}
.final-for-content-7 .step-2 {
  margin: 0 0px 19px 0px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.final-for-content-7 .authentication {
  margin: 0 0px 15px 0px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 55px;
  color: #F7BD19;
}
.final-for-content-7 .using-an-otc-card-tap-and-hold-the-card-on-the-sensor-located-on-the-front-panel-or-use-the-sun-fuel-app {
  margin: 0 0px 40px 0px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
}
.final-for-content-7 .path-97 {
  background: #F7BD19;
  margin-bottom: 51px;
  width: 1135.9px;
  height: 1px;
}
.final-for-content-7 .activate-your-account {
  margin: 0 0px 2px 0px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  color: #F7BD19;
}
.final-for-content-7 .download-the-app {
  margin-bottom: 26px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 45px;
  color: #FFFFFF;
}
.final-for-content-7 .sunfuel-app-is-available-in-the-play-store-and-app-store {
  margin-bottom: 78px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
}
.final-for-content-7 .get-now {
  overflow-wrap: break-word;
  font-family: 'Segoe UI', 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.final-for-content-7 .container-25 {
  border-radius: 25px;
  background: #F7BD19;
  position: relative;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 14px 23.7px 15px 0;
  width: 208px;
  box-sizing: border-box;
}
.final-for-content-7 .app-google {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.349);
  background: url('../assets/images/appGoogle.png') 50% / cover no-repeat;
  margin-right: 2px;
  width: 105px;
  height: 35px;
}
.final-for-content-7 .app-mac {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.349);
  background: url('../assets/images/appMac.png') 50% / cover no-repeat;
  width: 104px;
  height: 35px;
}
.final-for-content-7 .container-6 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 211px;
  box-sizing: border-box;
}
.final-for-content-7 .container-17 {
  margin: 59px 142.2px 5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.final-for-content-7 .sunfuel-app {
  background: url('../assets/images/sunfuelApp.png') 50% / cover no-repeat;
  width: 358px;
  height: 358px;
}
.final-for-content-7 .container-27 {
  margin: 0 65.9px 84.7px 0px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .get-your-charging-cards {
  margin-bottom: 25.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 45px;
  color: #FFFFFF;
}
.final-for-content-7 .one-tap-charging-using-smart-otc-card {
  margin-bottom: 91px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
}
.final-for-content-7 .get-now-1 {
  overflow-wrap: break-word;
  font-family: 'Segoe UI', 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.final-for-content-7 .container-16 {
  border-radius: 25px;
  background: #F7BD19;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 14px 23.7px 15px 0;
  width: 208px;
  box-sizing: border-box;
}
.final-for-content-7 .container-9 {
  margin: 0 168.2px 26.3px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.final-for-content-7 .otc-card-page {
  box-shadow: 6px 15px 10px 0px rgba(0, 0, 0, 0.42);
  background: url('../assets/images/otcCardPage1.png') 50% / cover no-repeat;
  position: relative;
  width: 259.5px;
  height: 177.1px;
}
.final-for-content-7 .otc-card-page-1 {
  box-shadow: 15px -10px 10px 0px rgba(0, 0, 0, 0.51);
  background: url('../assets/images/otcCardPage.png');
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 259.5px;
  height: 177.1px;
}
.final-for-content-7 .sunfuel-otc-card {
  position: relative;
  margin-top: 26px;
  width: 362.8px;
  height: 247.6px;
  box-sizing: border-box;
}
.final-for-content-7 .container {
  margin: 0 63.5px 0 0px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .step-2-instruction {
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.129);
  border-radius: 23px;
  background: #17171C;
  position: relative;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  padding: 73px 49.1px 60.7px 47px;
  width: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .step-3 {
  margin-bottom: 32px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
.final-for-content-7 .unplug-the-nozzle {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 55px;
  color: #F7BD19;
}
.final-for-content-7 .container-28 {
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.129);
  border-radius: 23px;
  background: #17171C;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 0 182px 47px;
  box-sizing: border-box;
}
.final-for-content-7 .plug-back {
  background: url('../assets/images/plugBack.png') 50% / cover no-repeat;
  position: absolute;
  right: 58px;
  bottom: 0px;
  width: 462px;
  height: 462px;
}
.final-for-content-7 .once-the-charging-completes-successfully-from-your-car-please-coilthe-cable-on-the-saddle-plug-the-nozzle-into-the-holder-for-theconvenience-of-the-next-ev-user {
  position: absolute;
  left: 47px;
  bottom: 148px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
}
.final-for-content-7 .step-3-instruction {
  position: relative;
  margin-right: 6px;
  padding: 49px 0 66px 0;
  box-sizing: border-box;
}
.final-for-content-7 .container-10 {
  background: #060F15;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 0 81px 0;
  width: 1920px;
  box-sizing: border-box;
}
.final-for-content-7 .charging-partner {
  margin: 0 1px 11px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 21px;
  line-height: 1.238;
  text-transform: uppercase;
  color: #434343;
}
.sunfuel-electric {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 37px;
  line-height: 1.333;
}
.final-for-content-7 .sunfuel-electric {
  margin: 0 1px 8px 1px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 37px;
  line-height: 1.243;
  color: #000000;
}
.sunfuel-electric-sub4 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 37px;
  line-height: 1.333;
  text-transform: uppercase;
}
.final-for-content-7 .sun-fuel-is-accelerating-the-adoption-of-electric-cars-by-providingseamless-charging-experiences-across-the-country-we-enable-ev-owners-charge-everywhere-and-give-them-the-freedom-todrive-anywhere {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21px;
  color: #4D4D4D;
}
.final-for-content-7 .container-8 {
  margin: 9px 185.3px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.final-for-content-7 .sunfuel-logo {
  background: url('../assets/images/sunfuelLogo.png') 50% / cover no-repeat;
  margin: 0 0 32.5px 2.3px;
  width: 105px;
  height: 135px;
}
.final-for-content-7 .insta-icon {
  margin: 0.5px 22px 0 0;
  width: 28px;
  height: 28px;
}
.final-for-content-7 .facebook-icone {
  margin: 0.5px 18px 0 0;
  width: 28px;
  height: 28px;
}
.final-for-content-7 .linkdin-icon {
  margin: 1.5px 22.9px 1px 0;
  width: 26px;
  height: 26px;
}
.final-for-content-7 .path-971 {
  width: 28.3px;
  height: 28.3px;
}
.final-for-content-7 .sunfuel-website-icon {
  margin-bottom: 0.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 28.3px;
  height: 28.3px;
  box-sizing: border-box;
}
.final-for-content-7 .social-media {
  display: flex;
  flex-direction: row;
  width: 173.2px;
  box-sizing: border-box;
}
.final-for-content-7 .container-3 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 173.2px;
  height: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .sunfuel-charging-partner {
  background: #F3F3F3;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  padding: 134px 0 119px 0;
  width: 1920px;
  box-sizing: border-box;
}
.final-for-content-7 .group-511 {
  width: 897.5px;
  height: 396.7px;
}
.final-for-content-7 .happy-woman-chatting-with-friends-online {
  opacity: 0.58;
  mix-blend-mode: darken;
  position: absolute;
  left: 22.1px;
  bottom: 10.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 897.5px;
  height: 396.7px;
  box-sizing: border-box;
}
.final-for-content-7 .join-us {
  overflow-wrap: break-word;
  font-family: 'Segoe UI', 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.final-for-content-7 .container-19 {
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.161);
  border-radius: 25px;
  background: #F7BD19;
  position: relative;
  margin: 0 18.5px 17px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 10.3px 15px 0;
  width: 208px;
  box-sizing: border-box;
}
.final-for-content-7 .join-the-largest-community-of-ev {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 19px;
  color: #FFFFFF;
}
.final-for-content-7 .container-26 {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.259);
  backdrop-filter: blur(3.5px);
  border-radius: 43px;
  background: rgba(0, 0, 0, 0.41);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 57px 0 32px 0;
  width: 525px;
  height: fit-content;
  box-sizing: border-box;
}
.final-for-content-7 .etrail-community {
  background: radial-gradient(0% 0% at 0% 0%, #FFFFFF 0%, #F3F3F3 77.4%, #EBEBEB 100%);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  padding: 133px 0 118px 1px;
  width: 960px;
  box-sizing: border-box;
}
.final-for-content-7 .hosting-partner-logo-here {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 36px;
  line-height: 1.389;
  color: #FFFFFF;
}
.final-for-content-7 .container-23 {
  background: #060F15;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 106px 0 78px 0.7px;
  width: 1920px;
  box-sizing: border-box;
}
.final-for-content-7 .rectangle-235 {
  opacity: 0.84;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.259);
  backdrop-filter: blur(5px);
  border-radius: 43px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 138px;
  right: 214px;
  width: 525px;
  height: 179px;
}
.final-for-content-7 .explore-more {
  overflow-wrap: break-word;
  font-family: 'Segoe UI', 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.final-for-content-7 .container-13 {
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.161);
  border-radius: 25px;
  background: #F7BD19;
  position: relative;
  margin: 0 5.6px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 19.7px 15px 0;
  width: 208px;
  box-sizing: border-box;
}
.final-for-content-7 .explore-more-chargers-near-you {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 19px;
  color: #FFFFFF;
}
.final-for-content-7 .near-by-charger-sunfuel {
  background: url('../assets/images/image2.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  bottom: 287px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 195px 0 151px 0;
  width: 960px;
  box-sizing: border-box;
}
.final-for-content-7 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  box-sizing: border-box;
}
